// Variables

// Directories
$images: '../../assets/images';

// Colors

// UIkit custom variables

// For more variables that can be overridden:
// /node_modules/uikit/src/scss/variables-theme.scss

// Borders
$global-border-radius: 0;

// Screen widths
$container-max-width: 1200px;
$container-xsmall-max-width: 750px;
$container-small-max-width: 900px;
$container-large-max-width: 1400px;
$container-xlarge-max-width: 1600px;

// Breakpoints
$breakpoint-small: 640px;
$breakpoint-medium: 960px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1600px;
$breakpoint-xsmall-max: ($breakpoint-small - 1);
$breakpoint-small-max: ($breakpoint-medium - 1);
$breakpoint-medium-max: ($breakpoint-large - 1);
$breakpoint-large-max: ($breakpoint-xlarge - 1);

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-body: 'Montserrat', sans-serif;

  --breakpoint-small: #{$breakpoint-small};
  --breakpoint-medium: #{$breakpoint-medium};
  --breakpoint-large: #{$breakpoint-large};
  --breakpoint-xlarge: #{$breakpoint-xlarge};
}
