/* Basic Setup
----------------------------------------------- */

body {
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a {
    text-decoration: none;
}

.row-flex-content {
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
}

.row_tabs {
    .col-tabs {
        margin-bottom: ($grid-gutter-width / 2);
    }
}