// Grid Setup

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints);
@include _assert-ascending($container-max-widths, '$container-max-widths');

// Common styles for small and large grid columns
@include make-grid-columns();

.container {
  @include make-container();
  @include make-container-max-widths();
}

// Rows contain and clear the floats of your columns.
.row {
  @include make-row();

  &--no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*='col-'] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}