// Responsive utilities

@mixin mobile {
  @media (min-width: #{$screen-xs}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}