// Variables

// Directories
$images: '../../assets/images';

// Colors
$black: #000;
$white: #fff;

$black-10: rgba($black, .1);
$black-20: rgba($black, .2);
$black-30: rgba($black, .3);
$black-40: rgba($black, .4);
$black-50: rgba($black, .5);
$black-60: rgba($black, .6);
$black-70: rgba($black, .7);
$black-80: rgba($black, .8);
$black-90: rgba($black, .9);

$white-10: rgba($white, .1);
$white-20: rgba($white, .2);
$white-30: rgba($white, .3);
$white-40: rgba($white, .4);
$white-50: rgba($white, .5);
$white-60: rgba($white, .6);
$white-70: rgba($white, .7);
$white-80: rgba($white, .8);
$white-90: rgba($white, .9);

// Grid columns
$grid-columns: 12 !default;
$grid-row-columns: 12 !default;
$grid-gutter: .9375rem !default;
$grid-gutter-width: $grid-gutter * 2 !default;
$enable-grid-classes: true !default;

// Spacing
$spacer: $grid-gutter;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;