.mcx-card {
  --card-body-bg: #eee;
  --card-media-bg: #ddd;
  --card-media-height: 300px;

  display: flex;
  flex-direction: column;

  .card__media {
    background-color: var(--card-media-bg);
    height: var(--card-media-height);
  }

  .card__body {
    background-color: var(--card-body-bg);
    padding: 30px;

    @media (min-width: var(--breakpoint-large)) {
      padding: 60px;
    }
  }

  .card__eyebrow {
    font-size: 14px;
    text-transform: uppercase;
  }

  .card__headline {
    font-size: 32px;
  }

  &--c1 {
    --card-media-height: 650px;
  }

  &--c2 {
    --card-media-height: 412px;
  }

  &--c3 {
    --card-media-height: 412px;
  }

  &--c4 {
  }
}
