// Block hero styles
.ad-hero {
  position: relative;
  min-height: 450px;
  overflow: hidden;
  background: $black-10;

  &__hdg {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__image {
    position: relative;
    z-index: 1;
    display: block;
  }
}
